<!DOCTYPE html>
<html>
<head>
  <title>Places</title>
  <!-- Include Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

      <% if @current_user %>
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      <% else %>
       
      <% end %>
    </ul>
  </nav>
    <div class="container">
      <div class="col-sm-3 text-front">
        <a href="/posts/new/" class="btn btn-success">New Place</a>
      </div>
  </div>
</body>
</html>