<h2>New Place</h2>

<% if @current_user %>
  <%= form_with :model => @post do |form| %>
    <div class="mb-3">
      <%= form.label "Place", class: "form-label" %>
      <%= form.text_field "Place", class: "form-control" %>
    </div>

    <%= form.submit "Create Place", class: "btn btn-primary" %>
  <% end %>
<% else %>
  You must first <a href="/login">login</a> to post.
<% end %>
